img{
    height: 1000px;
    width: auto;
}
.big{
    font-size: 200px;
}
.small{
    font-size: 80px;
}
.bar {
  background-color: aqua; 
  display: flex;      
  align-items: center; 
}
.bar a{
  float: left;
  font-size: 110px;
  text-decoration: none;
  color: black;
  line-height: 300px; 
}
.bar span {
  float: left;
  margin-right: 110px;
  font-size: 110px;
  text-decoration: none;
  color: blue;
  line-height: 300px;
}
.bar a:hover {
  color: red;
}
.dropdown {
  float: left;
  position: relative;
}
.dropdown .dropbtn {
  font-size: 110px;
  border: none;
  outline: none;
  color: rgb(0,0,0);
  background-color: inherit;
  line-height: 300px;
  float: left;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;     
  background-color: #b205f1;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

