<!DOCTYPE html>

<html>
        <head>
                <title>
                    114303031_王翊安
                </title>
                
                <link rel="stylesheet" href="../static/css/index.css">

                
        </head>
        <body>
                <nav class="navbar">
                        <ul class="nav-list">
                                <li>首頁</li>
                                <li class="dropdown">
                                <button class="dropbtn">關於我</button>
                                        <div class="dropdown-content">
                                                <a href="../templates/114303031_detail.html">下一頁</a>
                                                <a href="https://www.youtube.com/">youtube</a>
                                                <a href="https://www.facebook.com/">facebook</a>
                                                <a href="https://x.com/">twitter</a>
                                        </div>
                                </li>
                         </ul>
                </nav>
                <h1 class="big">3 Facts about me </h1>        
                <table>
                        <tr>
                                <td><a href="../templates/114303031_detail.html"><img src="../static/img/photo1.jpg" class="img" alt="圖片1"></a></td>
                                <td><a href="../templates/114303031_detail.html"><img src="../static/img/photo2.jpg" class="img" alt="圖片2"></a></td>
                                <td><a href="../templates/114303031_detail.html"><img src="../static/img/photo3.jpg" class="img" alt="圖片3"></a></td>
                        </tr>
                        <tr>
                                <td><a href="../templates/114303031_detail.html" class="linkStyle">Favorite singer: Charlie Puth</a></td>
                                <td><a href="../templates/114303031_detail.html" class="linkStyle">Major: Mechanical Engineering</a></td>
                                <td><a href="../templates/114303031_detail.html" class="linkStyle">Favorite volleyball player: Simeon Nikolov   </a></td>
                        </tr>
                </table>
                
        </body>

</html>