<!DOCTYPE html>
<html>
    <head>


    </head>

    <body>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=k6YkmmeC5cNeApR5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


        <form>
            <label for="name">姓名</label><br>
            <input type="text" id="name" name="name"><br><br>
            數字列表<br>
            <input type="radio" id="123" name="123">
            <label for="123">123</label><br>
            <input type="radio" id="456" name="123">
            <label for="456">456</label><br>
            <input type="radio" id="789" name="123">
            <label for="789">789</label><br><br>
            數字列表2<br>
            <input type="radio" id="1234" name="1234">
            <label for="1234">123</label><br>
            <input type="radio" id="4567" name="4567">
            <label for="4567">456</label><br>
            <input type="radio" id="7891" name="7890">
            <label for="7891">789</label><br><br>
            數字列表3:
            <select name="birth year">
                <option>2000</option>
                <option>2001</option>
                <option>2002</option>
            </select><br><br>
            <button type="button" onclick="history.back()">提交</button>


        </form>
    </body>
</html>