<!DOCTYPE html>

<html>
        <head>
                <title>
                    114303031_王翊安
                </title>
                
                <link rel="stylesheet" href="../static/css/index.css">

                
        </head>
        <body>
                <nav class="bar">
                         <ul>
                                <span>首頁</span>
                                <a href="file:///C:/Users/ianwi/OneDrive/%E6%A1%8C%E9%9D%A2/ME2025Demo/HW3_htmlAndCss/templates/114303031_detail.html">下一頁</a>
                          </ul>
                </nav>
                <h1 class="big">3 Facts about me </h1>        
                <table>
                        <tr>
                                <td><img src="../static/img/photo1.jpg" class="img" alt="圖片1"></td>
                                <td><img src="../static/img/photo2.jpg" class="img" alt="圖片2"></td>
                                <td><img src="../static/img/photo3.jpg" class="img" alt="圖片3"></td>
                        </tr>
                        <tr>
                                <td><a href="file:///C:/Users/ianwi/OneDrive/%E6%A1%8C%E9%9D%A2/ME2025Demo/HW3_htmlAndCss/templates/114303031_detail.html" class="small">favorite singer: Charlie Puth</a></td>
                                <td><a href="file:///C:/Users/ianwi/OneDrive/%E6%A1%8C%E9%9D%A2/ME2025Demo/HW3_htmlAndCss/templates/114303031_detail.html" class="small">major:Mechanical Engineering</a></td>
                                <td><a href="file:///C:/Users/ianwi/OneDrive/%E6%A1%8C%E9%9D%A2/ME2025Demo/HW3_htmlAndCss/templates/114303031_detail.html" class="small">favorite volleyball player: Simeon Nikolov   </a></td>
                        </tr>
                </table>
                
        </body>

</html>