<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/detail.css">

    </head>

    <body>
        <span>這很好看可以看 他很強</span> <span>這很好聽也可以聽</span><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/lnazJWDqo8E?si=m1tneAQWesd1HNdx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PAKFzFqJa58?si=pn04iKdTSMAsQrhg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe><br>
        <form>
            <label for="name">輸入框</label><br>
            <input type="text" id="name" name="name"><br><br>
            數字列表 單選<br>
            <input type="radio" id="123" name="123">
            <label for="123">123</label><br>
            <input type="radio" id="456" name="123">
            <label for="456">456</label><br>
            <input type="radio" id="789" name="123">
            <label for="789">789</label><br><br>
            數字列表 多選<br>
            <input type="radio" id="1234" name="1234">
            <label for="1234">123</label><br>
            <input type="radio" id="4567" name="4567">
            <label for="4567">456</label><br>
            <input type="radio" id="7891" name="7890">
            <label for="7891">789</label><br><br>
            下拉式數字列表:
            <select name="birth year">
                <option>2000</option>
                <option>2001</option>
                <option>2002</option>
            </select><br><br>
            <button type="button" onclick="history.back()">回上一頁</button>


        </form>
    </body>
</html>