table, th, td {
    border: 1px solid black;
}
img {
    width: 120px;
    height: 120px;
}
p {
    text-align: center;
}
.cell0{
    width: 100px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
}