table, th, td {
    border: 1px solid black;
}
td {
  text-align: center;
  vertical-align: middle;
}
img {
    width: 120px;
    height: 120px;
}
.cell0{
    width: 100px;
    height: 40px;
}
.checkbox_item{
    width: 30px;
    height: 30px;
}
.checkbox_all{
    width: 20px;
    height: 20px;
}
td div {
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="number"] {
    width: 50px;
}
button {
    width: 30px;
    height: 21px;
}
.quantity {
  text-align: center;
  vertical-align: middle;
  width: 50px;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}