<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/114303031_js_2.css">
    </head>

    <body>
        <table>
            <tr>
                <td><input type="checkbox" class="checkbox_all" id="checkbox_all"></td>
                <td class="cell0">商品名稱</td>
                <td class="cell0">商品庫存</td>
                <td class="cell0">單價</td>
                <td class="cell0">數量</td>
                <td class="cell0">總計</td>
            </tr>
            <tr>
                <td><input type="checkbox" class="checkbox_item" id="checkbox_item"></td>
                <td><img src="../static/img/photo1.jpg"><br><p>足球</p></td>
                <td class="cell0">blank</td>
                <td class="cell0">blank</td>
                <td class="cell0">blank</td>
                <td class="cell0">blank</td>
            </tr>
            <tr>
                <td><input type="checkbox" class="checkbox_item" id="checkbox_item"></td>
                <td><img src="../static/img/photo2.jpg"><br><p>籃球</p></td>
                <td class="cell0">blank</td>
                <td class="cell0">blank</td>
                <td class="cell0">blank</td>
                <td class="cell0">blank</td>
            </tr>
            <tr>
                <td><input type="checkbox" class="checkbox_item" id="checkbox_item"></td>
                <td><img src="../static/img/photo3.jpg"><br><p>排球</p></td>
                <td class="cell0">blank</td>
                <td class="cell0">blank</td>
                <td class="cell0">blank</td>
                <td class="cell0">blank</td>
            </tr>
        </table>
        <script src="../static/114303031_js_2.js"></script>
    </body>
</html>